.menu {
    border-radius: 11px;
    overflow: hidden;
    transition: all 0.4s;
  
  }
  
  .menu:hover {
    transform: translateY(-1.2rem);
    box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
  }
  
  .menu-content {
    padding: 2rem 2rem 2rem 2rem;
  }
  
  .menu-title {
    font-size: 2.4rem;
    color: #fff;
    font-weight: 600;
    margin-bottom: 3.2rem;
    text-align: center;
  }
  
  .menu-attributes {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      text-align: center;
  
  }
  
  .menu-attribute {
      font-size: 1.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.6rem;
      flex-direction: column;
  }
  
  .menu-img {
    width: 100%;
  }
  
  .container-menu {
      max-width: 150rem;
      padding: 0 6rem;
      margin: 0 auto;
      flex-direction: column;
      display: flex
  }
  
  .menu-price {
    color: #e67e22;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 8px 10px;
    padding: 10px;
  }
  
  .grid-container > div {
    text-align: center;
    padding: 5px 5px;
  }