@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Inconsolata&display=swap");

/**************************/
/******** GENERAL ********/
/************************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Inconsolata", monospace;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  background-color: #1c1d1f;
  overflow-x: hidden;
}

.heading-primary,
.heading-secondary {
  font-weight: 700;
  color: #fff;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #1c1d1f;
}

.btn--outline:hover,
.btn--outline:active {
  color: #fff;
  background-color: #cf711f;
}

.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;

  /* margin-bottom: 9.6rem; */
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}

.link:link,
.link:visited {
  display: inline-block;
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

/**************************/
/******** HEADER *********/
/************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  padding: 6rem;
  position: relative;
  background-color: #1c1d1f;
  border-bottom: 1px solid #eee;
}

.logo {
  height: 6rem;
}

/**************************/
/****** NAVIGATION *******/
/************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #cf711f;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

.current-page {
  text-decoration: underline;
}

.open-menu,
.close-menu {
  position: absolute;
  cursor: pointer;
  font-size: 2.75rem;
  display: none;
}

#check {
  display: none;
}

.open-menu {
  top: 50%;
  right: 6rem;
  transform: translateY(-50%);
}
.close-menu {
  top: 6rem;
  right: 6rem;
}

/***************************************************/
/********************** MAIN **********************/
/*************************************************/

/**************************/
/***** HERO SECTION ******/
/************************/

.section-hero {
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 150rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-menu {
  max-width: 185rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 80%;
}

/**************************/
/********* MEALS *********/
/************************/

.section-meals {
  padding: 9.6rem 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-title {
  font-size: 2.4rem;
  color: #fff;
  font-weight: 600;
  margin-bottom: 3.2rem;
  text-align: center;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.meal-img {
  width: 100%;
}

.all-meals {
  font-size: 1.8rem;
  text-align: center;
}

/**************************/
/******** MENU ***********/
/************************/
.menu {
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;

}

.menu:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.menu-content {
  padding: 2rem 2rem 2rem 2rem;
}

.menu-title {
  font-size: 2.4rem;
  color: #fff;
  font-weight: 600;
  margin-bottom: 3.2rem;
  text-align: center;
}

.menu-attributes {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;

}

.menu-attribute {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    flex-direction: column;
}

.menu-img {
  width: 100%;
  max-height: 200px;
}

.container-menu {
    max-width: 150rem;
    padding: 0 6rem;
    margin: 0 auto;
    flex-direction: column;
    display: flex
}

.menu-price {
  color: #e67e22;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 8px 10px;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 5px 5px;
}


/**************************/
/****** Suggestion********/
/************************/
.suggestion-main {
    align-items: center;
    display: flex;
    justify-content: center;
<<<<<<< HEAD
    height: 100vh;
=======
    height: 70vh;
    margin-top: 120px;
    margin-bottom: 120px;
>>>>>>> fcddbcd25239c06670c4bc5034a47fb631ec6a08
}

.suggestion-form {
    background-color: black;
    border-radius: 20px;
    box-sizing: border-box;
<<<<<<< HEAD
    height: 580px;
    padding: 20px;
    width: 320px;
=======
    height: 610px;
    padding: 20px;
    width: 700px;

>>>>>>> fcddbcd25239c06670c4bc5034a47fb631ec6a08
}

.suggestion-title {
    color: #eee;
<<<<<<< HEAD
    font-size: 20px;
=======
    font-size: 30px;
>>>>>>> fcddbcd25239c06670c4bc5034a47fb631ec6a08
    font-weight: 600;
    margin-top: 30px;
}

.suggestion-subtitle {
    color: #eee;
<<<<<<< HEAD
    font-size: 16px;
=======
    font-size: 20px;
>>>>>>> fcddbcd25239c06670c4bc5034a47fb631ec6a08
    font-weight: 600;
    margin-top: 15px;
}

.suggestion-input-container {
<<<<<<< HEAD
    height: 40px;
=======
    height: 50px;
>>>>>>> fcddbcd25239c06670c4bc5034a47fb631ec6a08
    position: relative;
    width: 100%;
}

.suggestion-input-container-larger {
    height: 120px;
    position: relative;
    width: 100%;
}

.suggestion-ic1 {
    margin-top: 30px;
}

.suggestion-ic2 {
    margin-top: 20px;
<<<<<<< HEAD
=======

>>>>>>> fcddbcd25239c06670c4bc5034a47fb631ec6a08
}

.suggestion-input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
<<<<<<< HEAD
    font-size: 15px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 5px;
=======
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 15px 20px 5px;
>>>>>>> fcddbcd25239c06670c4bc5034a47fb631ec6a08
    width: 100%;
}


.suggestion-cut {
    background-color: black;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
<<<<<<< HEAD
    width: 76px;
}

.suggestion-cut-short {
    width: 50px;
=======
    width: 110px;
}

.suggestion-cut-medium {
  width: 77px;
}

.suggestion-cut-short {
    width: 56px;
>>>>>>> fcddbcd25239c06670c4bc5034a47fb631ec6a08
}

.suggestion-input:focus ~ .suggestion-cut,
.suggestion-input:not(:placeholder-shown) ~ .suggestion-cut {
    transform: translateY(8px);
}

.suggestion-placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 15px;
<<<<<<< HEAD
=======
    font-size: 18px;
>>>>>>> fcddbcd25239c06670c4bc5034a47fb631ec6a08
}

.suggestion-input:focus ~ .suggestion-placeholder,
.suggestion-input:not(:placeholder-shown) ~ .suggestion-placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}

.suggestion-input:not(:placeholder-shown) ~ .suggestion-placeholder {
    color: #808097;
}

.suggestion-input:focus ~ .suggestion-placeholder {
<<<<<<< HEAD
    color: #dc2f55;
}

.suggestion-submit {
    background-color: #F41E1E;
=======
    color: #e67e22;
}

.suggestion-submit {
    background-color: #e67e22;
>>>>>>> fcddbcd25239c06670c4bc5034a47fb631ec6a08
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
<<<<<<< HEAD
    font-size: 16px;
=======
    font-size: 20px;
>>>>>>> fcddbcd25239c06670c4bc5034a47fb631ec6a08
    height: 35px;
    margin-top: 20px;
    outline: 0;
    text-align: center;
    width: 100%;
}
<<<<<<< HEAD
.suggestion-submit:active {
        background-color: #06b;
}


=======

.suggestion-submit:active {
  background-color: #06b;
}

>>>>>>> fcddbcd25239c06670c4bc5034a47fb631ec6a08
/**************************/
/******** FOOTER *********/
/************************/

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #fff;
  margin-top: auto;
}

.footer-heading {
  color: #cf711f;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
  color: #fff;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #fff;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #cf711f;
}
